@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes glow {
    // from {
    //   text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 15px #10e4e0, 0 0 20px #10e4e0, 0 0 25px #10e4e0, 0 0 30px #10e4e0, 0 0 35px #10e4e0;
    // }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #10e4e0, 0 0 20px #10e4e0, 0 0 25px #10e4e0, 0 0 30px #10e4e0, 0 0 35px #10e4e0, 0 0 40px #10e4e0;
    }
  }

@-webkit-keyframes glow {
    // from {
    //   text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 15px #10e4e0, 0 0 20px #10e4e0, 0 0 25px #10e4e0, 0 0 30px #10e4e0, 0 0 35px #10e4e0;
    // }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #10e4e0, 0 0 20px #10e4e0, 0 0 25px #10e4e0, 0 0 30px #10e4e0, 0 0 35px #10e4e0, 0 0 40px #10e4e0;
    }
  }

body {
    background-image: url('head_bg.jpg');
       background-size: 100% 100%;
       background-repeat: no-repeat;
       object-fit: contain;
       z-index: 0;
       width: 100%;
       height: 800px;
       overflow: hidden;

       .countdown-mint {
        text-shadow: 0 0 10px #fff, 0 0 15px #10e4e0, 0 0 20px #10e4e0, 0 0 25px #10e4e0, 0 0 30px #10e4e0, 0 0 35px #10e4e0, 0 0 40px #10e4e0;
       }

       .mint-text-formt {
           color: #fff;
       }

       .mastermintb {
        border: 2px solid #10e4e036;
        background-color: rgba(0, 0, 0, 0.315);
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 20px;

        .minterbox {
            background-color: black;
            width: 200px;
            margin-left: calc(50% - 100px);
            border: 2px solid #10e4e0;
            border-radius: 10px;
            margin-bottom: 40px;
            aspect-ratio: 1.0;
            box-shadow: 0 0 10px #fff, 0 0 15px #10e4e0, 0 0 20px #10e4e0, 0 0 25px #10e4e0, 0 0 30px #10e4e0, 0 0 35px #10e4e0, 0 0 40px #10e4e0;
 
            .mintsquare {
             background-image: url('gif-loop-structure.gif');
                 background-size: auto 100%;
                 background-repeat: no-repeat;
                 object-fit: center;
                 width: 100%;
                 height: 100%;
                 border-radius: 20px;
            }
        }
       }


       .titleGlow {
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            font-size: 42px;
            -webkit-animation: glow 1s ease-in-out infinite alternate;
            -moz-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
            // -webkit-text-stroke: 2px #10e4e0; /* width and color */
            margin: 0px;
            margin-top: 40px;
        }

        .subtitle {
            margin: 0px;
            color: #fff;
            text-align: center;
            font-size: 20px;
        
        }

        .connect-wallet-button {
            width: 142px;
            margin-top: 80px;
            background-color: rgba(255, 255, 255, 0);
            border: 2px solid #10e4e0;
            border-radius: 10px;
            transition: 0.6s all ease-out;
            font-weight: bold;

            &:hover {
              background-color: #10e4e09d;
            }
        }

        .center-box-cont {
            width: 60%;
            margin-left: 20%;
            text-align: center;
            margin-top: 40px;
        }
}


